body {  
  background-image: linear-gradient(rgb(171, 53, 238), rgb(215, 178, 47),rgb(99, 176, 117));}

h1 {
  font-size: 35px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3,h2, {
  font-size: 12px;
}

p{
  font-size: 14px;
  font-family:cursive;
  color:gold;
  text-align: justify;
}
input[type=text] {
  width: 30%;
  padding: 8px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color: blue;
  border-width: 3px;
}

select {
  box-sizing: border-box;
  border-color: blue;
  border-width: 3px;
}

input[type=date] {
  border-color: blue;
  border-width: 3px;
}

input[list=rating] {
  border-color: blue;
  border-width: 3px;
}

.container {
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(51, 11, 73);
}
footer {
    text-align: center;
}