<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Templates</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chicle&family=Hi+Melody&display=swap" rel="stylesheet">

    <link rel="stylesheets" href="./css/styles.css"/>
</head>
<body>
    <div class="container">
      <header>
        <h1>header</h1>
        <nav>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </nav>
      </header>
      <main>
        <h2>Main</h2>
        <aside>
          <h2>Aside</h2>
        </aside>
        <figure>
          <img src="" alt="" />
        </figure>
      </main>
      <footer>
        <p>&copy; 2024 Template Project Powered by Shawnna Hann</p>
      </footer>
    </div>
  </body>
</html>
