<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Templates</title>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chicle&family=Hi+Melody&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
      <header>
        <h1>header</h1>
        <nav>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </nav>
      </header>
      <main>
        <h2>Main</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, quia officia! Cumque exercitationem aspernatur, reprehenderit molestias dicta odio amet voluptatibus saepe unde at natus et soluta culpa laborum ratione sed!</p>
        <aside>
          <h2>Aside</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum quam quos et, omnis ad odit tempora totam impedit aperiam maxime eveniet cum possimus dignissimos? Numquam quam optio nihil mollitia rerum?</p>
        </aside>
        <figure>
          <img src="https://dummyimage.com/250/ffffff/000000" alt="" />
        </figure>
      </main>
      <footer>
        <p>&copy; 2024 Template Project Powered by Shawnna Hann</p>
      </footer>
    </div>
  </body>
</html>
