body {
  background-image: url(../images/aurora-borealis.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}

div,
header {
  width: 75%;
  margin: 40px auto;
  border: 3px solid gold;
  background: rgba(0, 0, 0, 0.7);
  font-family: sans-serif;
  font-size: 40px;
  color: bisque;
  overflow: auto;
  padding: 45px;
}

div {
  min-height: 350px;
  text-align: center;
}

h1,
h2 {
  text-align: center;
  color: gold;
}

#background {
  background-image: url(../images/tree.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
}

#img-map img {
  width: 40%;
  border: 5px;
  border-color: rgb(200, 69, 91);
  border-style: solid;
}

#float-left img {
  float: left;
  width: 30%;
  border: 5px;
  border-color: rgb(201, 124, 7);
  border-style: solid;
}

#float-right img {
  float: right;
  width: 30%;
  border: 5px;
  border-color: rgb(137, 27, 226);
  border-style: solid;
}

#picture-tag img {
  width: 30%;
  border: 5px;
  border-color: rgb(19, 84, 106);
  border-style: solid;
}

#linked-image img {
  width: 30%;
}

#img-as-link img {
  width: 30%;
  border: 5px;
  border-color: rgb(19, 84, 106);
  border-style: solid;
  border-radius: 35px;
}

footer {
  font-size: 20px;
  color: bisque;
  text-align: center;
}
