/*
   Dark primary = #4D0273
   Dark secondary = #697D22
   background = #1E2601
   medium primary = #863CAB
   medium secondary = #99AB59
   light text = ivory
   dark text = black

*/

/*
   Dark primary = #91808D
   Dark secondary = #496665
   background = #E6D585
   medium primary = #85E6E4
   medium secondary = #85E6E4

*/

.chicle-regular, p {
  font-family: "Chicle", serif;
  font-weight: 400;
  font-style: normal;
}

.hi-melody-regular, h1, h2, h3 {
  font-family: "Hi Melody", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*   remove  background and borders   */
header{
    border: 2px solid gold;
    background: ivory;
    min-height: 100px;
}
.container{
    border: 2px solid gold;
    background: black;
    width: 80%;
    margin: 10px auto;
    padding: 15px;
}
nav{
    text-align: center;
    padding: 15px;
    border: 2px solid gold;
    background: purple;
    color: white;
}
aside{
    width: 20%;
    margin: 10px;
    float: right;
    min-height: 100px;
    border: 2px solid gold;
    background: green;
}

figure{
    clear: both;
    width: 40%;
    margin: 10px;
    float:left;
    border: 2px solid gold;
    background: brown;
    padding: 15px;
}

main{
    width: 95%;
    margin: 10px auto;
    border: 2px solid gold;
    color: blue;
}