

html {
  background-color: #DCEDC8;
}


#title {
  background-image: linear-gradient(#03A9F4,#689F38);
  margin: auto;
  padding: 25px;
  border-radius: 5px;
  border-style: solid;
  border-color: #212121;
  border-width: 3px;
}

.sour-gummy-regular, p, nav, footer, section, h3, figure {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.moo-lah-lah-regular, h1 {
  font-family: "Moo Lah Lah", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #212121;
}

h1 {
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 3px 1px #757575;
    background-color: #DCEDC8;
    /* border-radius: 5px;
    border-color: #03A9F4;
    border-style:outset;  */
    border-width: 5px;
    letter-spacing: 3px;

}

p {
    text-align: left;
    line-height: 130%;
    font-size: 100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
figure {
  font-size: 60%;
  color: #212121;
  text-align: left;
  text-indent: 15px;
  display: inline;
}

section {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  font-size: 110%;
}
nav, section {
  text-align: center;
  padding: 25px;

}

nav a, section a{ 
margin: 20px;
color: #212121;
text-decoration: none;
font-size: 20px;
padding: 6px 20px;
line-height: 3;
background-color: #8BC34A;
border-radius: 5px;
text-shadow: 1px 1px 1px #757575;
border-style: outset;
border-color: #212121;
border-width: 3px;
}

nav a:hover, section a:hover{
color: #212121;
background: #03A9F4;
font-weight: bold;
text-shadow: 1px 1px 1px #757575;
border-style: inset;
border-color: #212121;
border-width: 3px;
}

.grid-container-home {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr; 
  gap: 5px;
  background-color: #8BC34A;
  padding: 25px;
  border-radius: 5px 5px 0px 0px;
}
.grid-container-home > div img {
  background-color: #8BC34A;
  text-align: center;
  cursor: pointer;
}

.grid-container-home2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  gap: 5px;
  background-color: #8BC34A;
  padding: 25px;
  border-radius: 0px 0px 5px 5px;
}
.grid-container-home2 > div {
  background-color: #8BC34A;
  text-align: center;
  cursor: pointer;
}

.grid-container-adventures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  gap: 5px;
  background-color: #8BC34A;
  padding: 25px;
  border-radius: 5px 5px 0px 0px;  
}
.grid-container-adventures > div {
  background-color: #8BC34A;
  text-align: center;
  cursor: pointer;
}

.grid-container-adventures2 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
  gap: 5px;
  background-color: #8BC34A;
  padding: 25px;
  border-radius: 0px 0px 5px 5px;  
}
.grid-container-adventures2 > div img {
  background-color: #8BC34A;
  text-align: center;
  cursor: pointer;
}

.grid-container-gallery {
  display: grid;
  grid-template-columns: 2fr 1.5fr; 
  gap: 5px;
  background-color: #8BC34A;
  border-radius: 5px;
  padding: 15px;
}

.grid-container-gallery > div img {
  background-color: #8BC34A;
  text-align: center;
  cursor: pointer;
}

.grid-container-pics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 15px;
  background-color: #8BC34A;
  padding: 15px;
}

.grid-container-life {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 15px;
  background-color: #8BC34A;
  padding: 15px;
  border-radius: 5px;  
}

.grid-container-life > div img {
  background-color: #8BC34A;
  text-align:left;
  cursor: pointer;
}

.grid-container-life > div p {
  background-color: #03A9F4;
  min-height:100%;
  max-height: 100%;
  margin-left: -0%;
  /* padding-inline: 30px;
  padding-inline-start: 30px; */
  border-radius: 5px;  
  text-align: left;
  display:block;
  border-style: solid;
  border-color: #212121;
  border-width: 3px;
}

.life {
  line-height: 150%;
  margin-left: 5%;
  margin-right: 5%;
}

.grid-container-video {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 15px;
  background-color: #03A9F4;
  border-radius: 5px;
  padding: 15px;
}
.grid-container-video > div p {
  font-size: 110%;
  margin-top: 10%;
}

.container-videos {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 25px;
  background-color: #03A9F4;
  border-radius: 5px;
  padding: 15px;
  margin-left: 40px;
  margin-right: 5px;
}


iframe {
  min-width: 50%;
  min-height: 450px;
  margin-bottom: 50px;
  /* min-width: 400px;
  min-height: 450px; */
  /* min-height: 100px;
  max-height: 600px; */
}

img {
  width: 95%;
  height: auto;
  display:block;
  border-width: 4px;
  border-color: whitesmoke #BDBDBD;
  border-style: solid;
  border-radius: 5px;
}

footer {
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    background-image: linear-gradient(#03A9F4,#689F38);
    border-radius: 5px;
    padding: 15px;
    padding: 25px;
    border-style: solid;
    border-color: #212121;
    border-width: 3px;
}