/* Variables */

:root {
    --dark_primary: #E685CF;
    --light_primary: #E6D585;
    --primary: #85E6E4;
    --light_text: #ffffff;
    --accent: #496665;
    --dark_text: #91808D;
    --head_font: sans-serif;
    --p_font: serif;
}

p {
  font-family: var(--p_font);
  color: var(--dark_text);
}

h1,
h2,
h3 {
  font-family: var(--head_font);
  color: var(--accent);
  font-size: 55px;
}

body {
  color: black;
  line-height: 1.5;
  font-size: 24px;
  font-weight: bold;
}

h1 {
  color: var(--accent);
  font-family:var(--head_font);
  text-align: center;
  font-size: 55px;
  background: var(--primary);
}

header {
  min-height: 100px;
}

footer p{
  color:var(--light_text);
  text-align:center;
  margin-top: 50px;
  background: var(--primary)
}


dt a{
  text-decoration: none;
  color:var(--dark_primary);
  font-family:var(--head_font);
}
dd{
  margin-left: 30px;
  font-family: var(--p_font);
}

dt a:hover{
  text-decoration: underline;
  color: #91808D;
}