
body {
    background-image: url(../images/aurora-borealis.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: bisque;
        font-size: 35px;
}

/* Styling for the div and header elements, affecting the width, margin, border, and background color */
div,
header {
    width: 80%;
    /* Sets the width to 80% of the parent container */
    margin: 20px auto;
    /* Centers the element horizontally and adds 20px margin to the top and bottom */
    border: 3px solid gold;
    /* Sets a 3px solid gold border */
    background: rgba(0, 0, 0, .7);
    /* Sets a semi-transparent black background */
    overflow: auto;
    padding: 40px
}

/* Specific styling for all div elements, setting a minimum height */
div {
    min-height: 100px;
    /* Ensures the div is at least 250px tall */
}

/* Styling for h1 and h2 headings, controlling the text alignment and color */
h1,
h2 {
    font-size: 65px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Centers the text horizontally */
    color: gold;
    /* Sets the text color to gold */
}

/* Placeholder for the background styling, add your specific styles here */
#background {
    background-image: url(../images/tree.jpg);
    background-repeat: repeat;
        background-attachment: scroll;
        background-size: cover;
        background-position: center;
        border-radius: 100px;
        border-color: rgba(249, 250, 251, 0.5);
        border-style: double;
        border-width: 50px;
    }
#img-map {
    /* Add image map-specific styles here */
    width: 80%;
}
#img-map img {
    margin-left: 140px;
}
/* Placeholder for floating left, add your specific styles here */
#float-left img {
    /* Add floating left-specific styles here */
    float: left;
        width: 55%;
            border-color: rgb(183, 124, 15);
            border-width: 5px;
            border-style: solid;
}

/* Placeholder for floating right, add your specific styles here */
#float-right img {
    /* Add floating right-specific styles here */
    float: right;
        width: 55%;
            border-color: wheat;
            border-width: 5px;
            border-style: solid;
}

/* Placeholder for picture tag, add your specific styles here */
#picture-tag {
    /* Add picture tag-specific styles here */
min-height: 500px;
}

/* Placeholder for linked image, add your specific styles here */
#linked-image img {
    /* Add linked image-specific styles here */
    width: 70%;
}

/* Placeholder for image as a link, add your specific styles here */
#img-as-link img {
    /* Add image as link-specific styles here */
    width: 75%;
        display: block;
        border-color: rgb(35, 92, 139);
        border-style: solid;
        border-radius: 95%;
        border-width: 5px;
    }